* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}

img {
    margin-right: 14px;
    height: 25px;
}

.parent-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100vh;
}

.shadow-bar {
    background-color: rgb(34, 34, 34);
    height: 100vh;
}

.bar1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.bar2 {
    grid-column-start: 7;
    grid-column-end: 8;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.side-bar {
    height: 100vh;
    width: 16vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    color: white;
    background-color: #5c7dd8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, 1fr);
}

.logo {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 6vh;
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-weight: 900;
}

.icons {
    height: 45px;
}

.menu {
    grid-row-start: 3;
    grid-row-end: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.menu>div {
    display: flex;
    align-items: center;
}

.info {
    grid-row-start: 9;
    grid-row-end: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.info>div {
    display: flex;
    align-items: center;
}

.header {
    height: 17vh;
    width: 85vw;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0 4px 0 2 rgba(0, 0, 0, 0.6);
}

.hero {
    background-color: #f3f1f1;
    height: 84vh;
    width: 84vw;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 7;
}