* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}
/* icon styling */
img {
    margin-right: 14px;
    height: 25px;
}
/* page container */

.parent-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100vh;
}

/* border */

.shadow-bar {
    background-color: rgb(34, 34, 34);
    height: 100vh;
}

.bar1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.bar2 {
    grid-column-start: 7;
    grid-column-end: 8;
}

/* page content */

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.side-bar {
    height: 100vh;
    width: 16vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    color: white;
    background-color: #5c7dd8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, 1fr);
}

.logo {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 6vh;
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-weight: 900;
}

.icons {
    height: 45px;
}

.menu {
    grid-row-start: 3;
    grid-row-end: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.menu>div {
    display: flex;
    align-items: center;
}

.info {
    grid-row-start: 9;
    grid-row-end: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.info>div {
    display: flex;
    align-items: center;
}

/* header */

.header {
    height: 17vh;
    width: 85vw;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0 10em 0 0 rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.left-side {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.search-bar {
    background-color: rgb(209, 206, 206);
    width: 30vw;
    height: 3.5vh;
    border-radius: 20px;
}

.right-side {
    display: flex;
    align-items: center;
    margin-right: 1vw;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.greeting {
    display: flex;
}

.big-icon {
    height: 50px;
    margin-left: 1vw;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

button {
    background-color: #5c7dd8;
    color: white;
    border: none;
    border-radius: 20px;
    height: 4vh;
    width: 5vw;
    font-size: 1rem;
}

.hero {
    background-color: #f3f1f1;
    height: 84vh;
    width: 84vw;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

.hero-header {
    height: auto;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 1vw;
}

.b {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 1vw;
}

.hero-main {
    
    height: auto;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 31;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    border-left: 8px solid orange;
    height: 20vh;
    width: 18vw;
    margin-left: 1vw;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.hero-right-sidebar {
    border: 1px solid black;
    height: auto;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 31;
}